html{
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    background-color: #faf4e1;
}


#p1{    /*圖片1*/
    text-align: center;
    margin: auto;
}

#menu a{
    margin:75px;
}

#title{     /*DODOFAIRY*/
    font-size: 50px;
    padding: 5px;
    line-height: 1px;
}

p{
    line-height: 5px;
}

#bl{ /*learn more*/
    border: 1px solid black;
    line-height: 150px;
    padding: 10px 20px;
    margin:10px;
}

#content{
    line-height:50px;
    width: 800px;
    margin: auto;
}

